@using SMA.CS;
@using System.Collections;
@{
   /*
   List<SelectListItem> items=new List<SelectListItem>();
   
   foreach(DictionaryEntry lang in GlobalVariables.languageTable)
   {
       SelectListItem i = new SelectListItem() { Text = lang.Key.ToString(), Value = lang.Value.ToString() };
       if(i.Text==GlobalVariables.currentLanguage)
       {
           i.Selected = true;
       }
       items.Add(i);
       
   }
   */

    string a = GlobalVariables.getVariableValue("ქართული");
}
 


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ozzle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("home"), "Index", "Home")</li>
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("about"), "About", "Home")</li>
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("contact"), "Contact", "Home")</li>   
                                    
                </ul>
                               

                <ul class="nav navbar-nav" style="float:right ">
                    

                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("login"), "LogIn", "Home")</li>
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("register"), "Register", "Home")</li>
                    <li>

                    
                        <div class="dropdown navbar-right ">
                          
                        </div>
                    </li>

                         
                </ul>

                
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
